*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.choc{
    color: chocolate;
}

.bgcchoc{
    background-color: chocolate;
}

.wood{
    color: burlywood;
}

.bgcwood{
    background-color: burlywood;
}

.brown{
    color: #2e0303;
}

.bgcbrown{
    background-color: #2e0303;
}

.brown2{
    color: brown;
}

.white{
    color: white;
}

.smog{
    color: #eee;
}

.flex{
    display: flex;
}

.between{
    display: flex;
    justify-content: space-between;
}

.justify{
    text-align: justify;
}

.gap2{
    gap: 2vh 2vw;
}

.align{
    text-align: center;
}

.hrBrown{
    border-color: brown;
    border-width: .4vh;
}
